
/* append your custom style below */

#sidebar {
  letter-spacing: 0.2px;
}

.site-title {
  font-weight: 700;
}

.site-subtitle {
  line-height: 1.6;
}

.post-preview h1,
.post-preview h2,
.post-preview h3 {
  letter-spacing: 0.2px;
}

.post-content {
  line-height: 1.9;
}

code {
  border-radius: 6px;
}